# Supabase PostgreSQL Connection String
# Thay thế phần <user>, <password>, <host>, <port>, <db-name> bằng thông tin thật từ Supabase.
DATABASE_URL="postgresql://postgres.eqrgxxpbvsuvgwsoznzy:vqd2k6@gmail.com:6543/postgres"
# Secret cho JWT Authentication (nếu cần sau này)
SECRET_KEY="your-secret-key-here"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
